* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.main {
    border: 1px solid grey;
    width: 600px;
    height: 150px;
}

.cabezera {
    padding: 10px;
}

.formulario {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.serie {
    width: 30%;
}

.temporada {
    width: 30%;
}

.capitulo {
    width: 40%;
}

.btns {
    padding: 20px;
}